h2 {
    padding: 5px 0 0 7px;
    background: url(images/verh.gif) no-repeat left top;
    font-family: Arial Narrow;
    font-size: 1.2em;
    color: #94B767;
}

.b1 {
    width: 424px;
    background: url(images/telo.gif) repeat-y;
}

.b3 {
    width: 414px;
    background: url(images/niz.gif) no-repeat left bottom;
    margin: 0;
    padding: 5px 5px 15px 5px;
    font-family: Tahoma;
    font-size: 0.8em;
    text-indent: 7%;
}

.b2 {
    width: 414px;
    font-family: Tahoma;
    font-size: 0.8em;
    text-indent: 7%;
    margin: 0;
    padding: 0 5px 0 5px;
}
